@page
@model IndexModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

    <div >
        <div>
            <img   src="/Images/globFarm.jpg" alt="GlobalFarmland" class="img-fluid" width="100%"  >
        </div>
        
       
        <div>
           <p> <h3  >
        <p> <h3  >About us </h3></p>
            <p> <h3>Platform for Digital Farming  is a Tech driven solution to consumer. 
            We give equal opportunities to consumers who desire to purchase fresh and organic farm produce. 
            These platform aims to make farm produce accessible to everyone at the comfort of their homes. 
            We are driven by a mission to  be the leading AgTech platform to promote organic food and  sustainability in the global food chain.
        </h3><p/>
        <p><h3>Our core values </p> </h3  >
            <p> <h3  >Integrity- At platform for Digital farming we comply with regulations, good business and ethical standards but we are honest, reliable and trustworthy people. 
            This platform is designed to meet the demands of customers.
            Customer Relationship - we value each customer and want to build a relationship with everyone. 
            To achieve that we have our communication lines  for enquires and ways to serve you better.
            Hunger & Malnutrition- we hope to eradicate hunger and malnutrition. The 'hunger for more' attitude has driven us to eradicate 'Hunger for all'. 
            With that we are constantly and consistently thinking out of the box.
            </h3></p>
        </div>
        <div>
        <p><h3>Our mission 
            is to make organic farm produce more accessible to consumers, reducing poverty and increasing healthy food production.

        Our vision 
            is to be the foremost tech-driven African agribusiness enterprise.
            </h3>
            </p>
        </div>
    </div>
